@import "variablesGlobales";
@import "fuente";
@import "general";
@import "titulos";
@import "parrafos";
@import "footer";
@import "animaciones";
@import "img";
@import "grid";


@media (min-width:1000px) {

    .galeria{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .segundaImg{
        width: 30%;
    }
    body{
        background: rgb(242,211,98);
    }

    .amarillo{
        background: rgb(242,211,98);
        background: linear-gradient(0deg, rgba(242,211,98,1) 0%, rgba(251,254,253,1) 40%, rgba(13,170,233,1) 100%);

    }
    footer{
        background: rgb(242,211,98);
        background: linear-gradient(180deg, rgba(242,211,98,1) 0%, rgba(251,254,253,1) 40%, rgba(13,170,233,1) 100%);
    }

    .paloma{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        justify-items:center;
        padding: 20px;
    }


}

